body {
  font-family: sans-serif;
  color: black;
  background-color: white;
}

.grid {
  display: grid;
  justify-items: stretch;
  width: 100%;
  font-size: 2vw;
}

.grid--16x30 {
  grid-template-rows: repeat(16, 16fr);
  grid-template-columns: repeat(30, 30fr);
  /* Make sure that we render square cells */
  height: calc((100vw / 30) * 16);
}

.grid-cell {
  border: 1px solid #333333;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-cell.is-not-revealed {
  background-color: lightgrey;
}

.grid-cell.is-touchable:hover {
  cursor: pointer;
  opacity: 0.5;
}

.grid-cell.is-not-touchable:hover {
  cursor: default;
  background-color: inherit;
}

.grid-cell--displayed-value-surroundingPower {
  color: green;
}

.grid-cell--displayed-value-power {
  color: red;
}

.grid-cell--displayed-value-bet {
  color: darkblue;
}

.grid-cell--monster.is-revealed {
  background-color: blanchedalmond;
}

.grid-cell--zero-surrounding-power.is-revealed {
  border: 1px solid whitesmoke;
}
