:root {
  --base-font-size: calc(1rem + 0.5vw);
  --measure: 60ch;
  font-size: var(--base-font-size);
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
}

* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  color: black;
  background-color: white;
}

/* Grid & cells */

.grid-container {
  position: relative;
}

.grid-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.grid {
  display: grid;
  justify-items: stretch;
  width: 100%;
  /* Needed for FX on :before elements. */
  position: relative;
}

.grid-overlay + .grid {
  opacity: 0.5;
}

.grid-overlay__text {
  background-color: rgba(255, 255, 255, 0.9);
}

.grid-cell {
  border: 1px solid #333333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-cell.is-not-revealed {
  background-color: lightgrey;
}

.grid-cell.is-touchable:hover {
  cursor: pointer;
  opacity: 0.5;
}

.grid-cell.is-not-touchable:hover {
  cursor: default;
  background-color: inherit;
}

.grid-cell--displayed-value-surroundingPower {
  color: green;
}

.grid-cell--displayed-value-power {
  color: red;
}

.grid-cell--displayed-value-bet {
  color: darkblue;
}

.grid-cell--monster.is-revealed {
  background-color: blanchedalmond;
  padding: calc(var(--base-font-size) / 1.5 / 1.5 / 1.5 / 1.5 / 1.5 / 1.5 );
}

.grid-cell--monster.is-revealed.grid-cell--displayed-value-surroundingPower {
  padding: 0;
}

.grid-cell--zero-surrounding-power.is-revealed {
  border: 1px solid whitesmoke;
}

.grid-cell img {
  width: 100%;
  image-rendering: crisp-edges;
}

/* Bar */

.bar {
  font-size: calc(var(--base-font-size));
}


.status {
  padding-left: 0;
  list-style: none;
  font-variant-numeric: tabular-nums;
}

.status small {
  font-size: 70%;
}

.status-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.monster-summary {
  padding-left: 0;
  list-style: none;
}

.monster-summary-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.monster-summary-item img {
  height: 32px;
  width: 32px;
  image-rendering: crisp-edges;
}

.monster-summary-item-count {
  display: flex;
  align-items: center;
}

.monster-summary-item-count-int {
  font-variant-numeric: tabular-nums;
  min-width: 2ch;
}

.seed {
  margin-left: auto;
  font-size: calc(var(--base-font-size) / 1.5 / 1.5);
}

/* Game won */

.game-won {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.results {
  flex: 1;
  width: 100%;
  max-width: 30ch;

  padding-left: 0;
  list-style: none;

  display: grid;
  /* minmax handles a case where the parent's width doesn't allow us to reach 21ch, like in the High
   * Scores scene. */
  grid-template-columns: 5ch minmax(auto, 21ch) 4ch;
  column-gap: var(--s-2);

  word-break: break-word;
}

.results li {
  display: contents;
}

.result__place {
  text-align: right;
}

.results input {
  font-family: inherit;
  width: 98%;
}

/* Effects */

@media (prefers-reduced-motion: no-preference) {
  body.shaking {
    overflow: hidden;
  }

  body.shaking .grid {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.green-flash:before {
  content: '';
  animation: green-flash 1.5s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

@keyframes green-flash
{
  0% {
    box-shadow: 0 0 0 0px green inset;
    opacity: 1;
  }
  100% {
    box-shadow: 0 0 0 2em green inset;
    opacity: 0;
  }
}

/* Layout */

.stack {
  --space: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.smaller {
  --space: calc(1.5rem / 1.5 / 1.5) !important;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: var(--space);
}

.cluster {
  --space: 1rem;
  overflow: hidden;
}

.cluster > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: calc(var(--space) / 2 * -1);
}

.cluster > * > * {
  margin: calc(var(--space) / 2);
}

.center {
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--measure);
  display:flex;
  flex-direction: column;
  align-items: center;
}

.cover {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}

.cover.whole-parent {
  min-height: 100%;
}

.cover > * {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.cover > :first-child:not(.centered) {
  margin-top: 0;
}

.cover > :last-child:not(.centered) {
  margin-bottom: 0;
}

.cover > .centered {
  margin-top: auto;
  margin-bottom: auto;
}
